﻿<div class="row wrapper border-bottom white-bg dashboard-header">
    <div class="col-lg-12">
        <h2 class="titulo-pagina">
            <i class="fa fa-money"></i> {{ 'FACTURAS' | translate }}
        </h2>
        <small>{{ 'MESSAGEINFO' | translate }}</small>
    </div>
    <div class="col-lg-12" style="margin-top: 10px;">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="text" id="daterange" name="daterange" value="01/04/2020 - 11/04/2020"
                           class="form-control" style="height: 34px;" />
                </div>
                <div class="col-sm-2">
                    <span>
                        <button ng-click="buscarFacturas()" ng-disabled="checkBatch.length<1" type="button" class="btn btn-primary">
                            {{ 'SEARCH' | translate }}
                            <i ng-show="loading" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                        </button>
                    </span>
                </div>
                <div class="col-sm-8">
                    <span class="pull-right">
                        <button ng-show="hay_facturas" ng-disabled="conerror || loading" ng-click="enviarFacturas()" type="button" class="btn btn-primary">
                            {{ 'FACTURAR' | translate }} <i class="fa fa-dollar"></i>
                            <i ng-show="loadingFacturar" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                            <span ng-show="loadingFacturar">{{ 'SENT' | translate }} {{progress_bar_advance}} {{ 'OF' | translate }} {{checkInvoice.length}}</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight" ng-show="result" style="padding: 20px 10px 0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc" ng-click="result=false" style="cursor:pointer; text-align:right">
                            <p><strong><i style="font-size:40px" class="fa fa-remove"></i></strong></p>
                            <p>{{ 'TOTAL_RECORDS' | translate }} {{ totalProccesed }}</p>
                        </div>
                        <h3>{{ 'BILLING' | translate }} <i ng-show="(errores.length + correctos.length) != revisados" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i></h3>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-adjust"></i>
                                </div>
                                <a ng-click="result=false" class="forum-item-title" ng-show="(errores.length + correctos.length) == revisados">{{ 'ELEMENTS_SENT' | translate }}</a>
                                <div class="forum-sub-title" ng-show="(errores.length + correctos.length) == revisados">
                                    <p><strong>{{ correctos.length }} {{ 'SUCCESSFULL_INVOICES_TEXT' | translate }} <i class="fa fa-check-circle"></i></strong></p>
                                    <p><strong>{{ errores.length }} {{ 'INCORRECT_INVOICES_TEXT' | translate }} <i class="fa fa-remove"></i></strong></p>
                                </div>
                                <div ng-show="errores.length > 0" class="card">
                                    <div class="card-header">
                                        <p>{{ 'LIST_OF_ERRORS' | translate }}</p>
                                    </div>
                                    <div class="card-body text-danger" style="overflow-y:auto; max-height:35vh">
                                        <ul>
                                            <li style="height: 10vh;" ng-repeat="o in errores">{{o.mensaje}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInDown" ng-init="buscarFacturas" ng-controller="modalCtrl"><!--ng-hide="result"-->
    <div class="row">
        <div class="col-xs-12">
            <div ng-show="mensaje" ng-class="{'alert': (success || error), 'alert-success': success, 'alert-warning': error}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ mensaje }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'FACTURAS' | translate }}</h5>
                    <div ibox-tools-show-hide></div>
                </div>
                <div class="ibox-content" ng-class="{'sk-loading': loadingFacturar, '': !loadingFacturar}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="text-muted text-center" ng-hide="hay_facturas">
                                <br /><br />
                                <i class="fa fa-list-alt fa-5x"></i>
                                <p class="modal-title">Seleccione un rango de fechas para ver las facturas</p>
                                <br /><br />
                            </div>

                            <!--
                            <div class="form-group">
                                <input type="text" class="form-control pull-right" style="width:100%" id="search" placeholder="Buscar...">
                            </div>-->

                            <div ng-show="hay_facturas">
                                <table datatable="ng" dt-options="dtOptions" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:40px;" class="text-center">
                                                <div class="round">
                                                    <input type="checkbox" id="chk_todos" ng-model="isAllSelected" ng-click="toggleAll(isAllSelected)" ng-change="optionToggled()" ng-checked="isAllSelected" style="width: 30px;height: 30px;" />
                                                    <label for="chk_todos"></label>
                                                </div>
                                            </th>
                                            <th>InvoiceNumber</th>
                                            <th>Fecha de Conciliación</th>
                                            <th>Proveedor</th>
                                            <th>Servicio</th>
                                            <th>Dis. Contable</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="o in facturas track by $index" ng-style="o.InvoiceId=='' ? {'background-color':'#ffeebf'} : {'background-color':'#ddfcd9'}">
                                            <td style="width:20px;" class="text-center">
                                                <div class="round">
                                                    <input type="checkbox" id="chk_{{o.id}}" ng-model="o.selected" ng-click="checkedInvoices(o)" ng-change="optionToggled()"
                                                           ng-disabled="o.InvoiceId=='' ? '' : 'disabled'"
                                                           ng-checked="o.InvoiceId!=''?'':isCheckedInvoices(o)" style="width: 30px;height: 30px;" />
                                                    <label for="chk_{{o.id}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                {{o.InvoiceNumber}}
                                            </td>
                                            <td>
                                                {{o.COINCIDENCIA_EN}}
                                            </td>
                                            <td>
                                                {{o.PRO_CODIGO}}
                                            </td>
                                            <td>
                                                {{o.CI_CODIGO}}
                                            </td>
                                            <td>
                                                {{o.DIS_CONTABLE}}
                                            </td>
                                            <td>
                                                {{o.IMPORTE | currency:'$': 4}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script>

    $(function () {

        //$("#daterange").val(moment().add(-1, 'days').format('DD/MM/YYYY') + " - " + moment().format('DD/MM/YYYY'));

    });

    $(function () {

        $('input[name="daterange"]').daterangepicker({
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mie",
                    "Ju",
                    "Vi",
                    "Sáb"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Sepiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            },
            "startDate": moment().add(-1, 'days'),
            "endDate": moment()
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            });
    });
</script>