﻿.logoGi{
   margin: 10px;
}

.logoGi:hover{
   cursor: pointer;
}

.navbar-right {
    margin-right: 0px !important;
}

.nav.navbar-right > li > a {
    border-top: 3px solid #f3f3f4;
}

.nav.navbar-right > li > a:hover, 
.nav.navbar-right > li > a:focus{
    border-top: 3px solid #1ABB9C;
    background: #D9DEE4;
    color: #545454 !important;
}

.navbar-top-links li.dropdown:last-child  {
    margin-right: 20px !important;
}

.activeEstadoMenu {
    border-top: 3px solid #1ABB9C !important;
    background: #D9DEE4;
    color: #545454 !important;
}

.lineaNavbar {
    height: 35px;
    background-color: #4578aa;
    border-bottom: 5px solid #1ABB9C;
}

.titulo-pagina{
    color: #1cb394;
}

.vertical-text {
	transform: rotate(-90deg);
    border-bottom: 5px solid red;
    position: absolute;
    top: 250px;
    left: -120px;
}

.text_cargar {
   border: dotted 3px lightgray;
   padding: 30px;
   border-radius: 4px;
   font-size: 16px;
}

.text_cargar:hover {
    background-color: #EDEDED;
	border-color: #1ABB9C !important;
    cursor: pointer;
    color: #1ABB9C;
}

.ERROR-DATO {
    background-color: #ffe9c6;
    border: 2px solid rgba(243,156,18,.88) !important;
}

.selec-fila {
    /*border-left: 3px solid #1abb9c;*/
    background-color: #d9dee4;
}

.fa-1_5x{
    font-size: 1.5em !important;
}
.text-muted-2{
    color: #dddddd;
}
#tableProductos a .text-muted-2:hover {
    color: #888888;
}

#tableProductos .count-info {
    position:relative;
}

#tableProductos .count-info .label {
    line-height: normal !important;
    right: -12px !important;
    top: -8px !important;
}

.popover{
    z-index: 100000;
}

.ibox-content{
    padding: 5px 15px;
}

.middle-box {
    padding-top: 0px;
}

.text-puntos-suspensivos {
    display: block;
    display: -webkit-box;
    position: relative;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space:nowrap;
}
