﻿<div class="row wrapper border-bottom white-bg dashboard-header">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img src="img/lg/logo.png" width="200" />
            </div>
            <hr />
            <h3>Iniciar Sesión</h3>
            <div ng-show="msg" class="show-hide alert {{msg.tipo}}" role="alert">
                <i class="{{msg.icon}}"></i>
                {{msg.mensaje}}
            </div>
            <form ng-submit="acceso()" class="m-t" role="form">
                <div class="form-group">
                    <input type="email" ng-model="email" class="form-control" placeholder="Usuario" required />
                </div>
                <div class="form-group">
                    <input type="password" ng-model="password" class="form-control" placeholder="Contraseña" required />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary block full-width m-b">
                        Iniciar sesión <i ng-show="loading" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                    </button>
                </div>
            </form>
            <p class="m-t"> <small>&copy; 2020 &middot; Rights Reserved.</small> </p>
        </div>
    </div>
</div>