﻿<div id="right-sidebar" ng-show="rightSidebar" class="sidebar-open animate fadeInLeft" ng-controller="comentarioCtrl">
    <div class="sidebar-container" full-scroll>
        <ul class="nav nav-tabs navs-3">
            <li ng-class="{active: tab1}" ng-init="tab1=true" style="width:100%;">
                <a class="text-left" style="background-color: #1ab394; color: #fff; text-align: left;"><h3>&ensp;<i class="fa fa-comments-o"></i> Comentarios</h3></a>
                <a class="pull-right" style="margin-top: -50px;right: 10px; cursor:pointer;background-color: #d9dee4;" ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-close" style="margin-right: 0;"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: tab1}">
                <div class="sidebar-title">
                    <h3>Trialer {{$root.contenedor.Trailer}}</h3>
                    <small><i class="fa fa-tim"></i>{{$root.comentarios.length}} comentarios agregados.</small>
                    <br /><br />
                    <form class="form-horizontal" ng-submit="formComentario.$valid && sendMessage(form)" name="formComentario"> 
                        <textarea class="form-control" ng-model="form.Descripcion" ng-required="true" rows="3" placeholder="Escribe tu comentario"></textarea>
                        <button type="submit" class="btn btn-primary btn-circle pull-right" title="Enviar" style="right: 0px;margin-right: -10px;margin-top: -20px;">
                            <i class="fa fa-send"></i>
                        </button>
                    </form>
                </div>
                <div>
                    <div ng-show="mensaje" ng-class="{'alert': (success || error), 'alert-success': success, 'alert-warning': error}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ mensaje }}
                    </div>

                    <div class="sidebar-message" ng-repeat="c in $root.comentarios">
                            <div ng-repeat="u in $root.usuarios | filter: Id = c.IdUsuario">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/__comment.jpg" ng-show="u.Perfil=='Administrador'">
                                    <img alt="image" class="img-circle message-avatar" src="img/__comment_LG.jpg" ng-show="u.Perfil=='Cliente'">
                                    <img alt="image" class="img-circle message-avatar" src="img/__comment_MEX.jpg" ng-show="(u.Perfil=='Agencia Aduanal MEX' || u.perfil=='Tramitador')">
                                    <img alt="image" class="img-circle message-avatar" src="img/__comment_TRS.jpg" ng-show="u.Perfil=='Trasportista'">
                                    <img alt="image" class="img-circle message-avatar" src="img/__comment_USA.jpg" ng-show="u.Perfil=='Agencia Aduanal USA'">
                                </div>
                                <a ng-show="u.Id == $root.user.Id" ng-click="eliminarComentario(c.Id)" title="Eliminar comentario" class="text-muted pull-right"><i class="fa fa-times"></i></a> 
                                <div class="clearfix"></div>
                                <div class="media-body">
                                    {{c.Descripcion}}
                                    <br>
                                    <small class="text-muted pull-right"><b>{{u.Nombre}}</b></small>
                                    <small class="text-navy">{{c.Fecha | date: "HH:mm'H', dd-MM-y"}}</small>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>