﻿<!--utf-8-->
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span><img src="img/lg/logo.png" width="100" ui-sref="home.inicio" class="logoGi" /></span>
            <br />
            <label style="font-size:18px;color:gray;margin-left:10px;font-weight:bold;">Pago de Servicios</label>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <!--ng-show="permiso($root.user.Perfil,'CARGAR XML')"-->
                <a ui-sref="home.carga" ui-sref-active="activeEstadoMenu" tooltip-placement="bottom" uib-tooltip="{{ 'CARGA' | translate }}">&ensp;<i class="fa fa-upload"></i> <span class="hidden-xs"> {{ 'CARGA' | translate }}</span></a>
            </li>
            <li>
                <a ui-sref="home.facturas" ui-sref-active="activeEstadoMenu" tooltip-placement="bottom" uib-tooltip="{{ 'FACTURAS' | translate }}">&ensp;<i class="fa fa-list-alt"></i> <span class="hidden-sm hidden-xs"> {{ 'FACTURAS' | translate }}</span></a>
            </li>
            <!--li ng-show="permiso($root.user.Perfil,'HISTORICOS')">
                <a ui-sref="home.historico" ui-sref-active="activeEstadoMenu" tooltip-placement="bottom" uib-tooltip="{{ 'REPHISTORICO' | translate }}">&ensp;<i class="fa fa-history"></i> <span class="hidden-sm hidden-xs"> {{ 'REPHISTORICO' | translate }}</span></a>
            </li-->
            <li uib-dropdown>
                <a href uib-dropdown-toggle>
                    <i class="fa fa-user"></i> <span class="hidden-xs"> {{user.Nombre}}</span>
                    <span class="fa fa-angle-down"></span>
                </a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                    <li>
                        <a ng-controller="homeCtrl" role="button" ng-click="cerrarSesion()">
                            <i class="fa fa-sign-out"></i> {{ 'CERRAR' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-controller="translateCtrl" class="hidden-xs">
                <a ng-click="changeLanguage('es')" ng-show="language!='es'" tooltip-placement="bottom" uib-tooltip="{{ 'LENGUAGE' | translate }}"><img src="img/lg/flag-english.png" /></a>
                <a ng-click="changeLanguage('en')" ng-show="language!='en'" tooltip-placement="bottom" uib-tooltip="{{ 'LENGUAGE' | translate }}"><img src="img/lg/flag-spanish.png" /></a>
            </li>
        </ul>
    </nav>  
    <div class="lineaNavbar">
        <div ng-controller="translateCtrl" class="visible-xs pull-right" style="margin: 5px 10px;">
            <a ng-click="changeLanguage('es')" ng-show="language!='es'" tooltip-placement="bottom" uib-tooltip="{{ 'LENGUAGE' | translate }}"><img src="img/lg/flag-english.png" /></a>
            <a ng-click="changeLanguage('en')" ng-show="language!='en'" tooltip-placement="bottom" uib-tooltip="{{ 'LENGUAGE' | translate }}"><img src="img/lg/flag-spanish.png" /></a>
        </div>
    </div>
</div>