﻿<!---meta-->
<div class="row wrapper border-bottom white-bg dashboard-header">
    <div class="col-lg-12">
        <h2 class="titulo-pagina">
            <i class="fa fa-upload"></i> {{ 'CARGA' | translate }}
            <span class="pull-right">
                <button ng-show="layout" ng-disabled="loading" type="button" class="btn btn-default" ng-click="cancelarCarga()">{{ 'CANCELAR' | translate }}<i class="fa fa-close"></i></button>
                <button ng-show="layout" ng-disabled="conerror || loading" ng-click="guardarLayout()" type="button" class="btn btn-primary">
                    {{ 'SAVELAYOUT' | translate }} <i class="fa fa-save"></i>
                    <i ng-show="loading" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                    <span ng-show="loading">{{ 'SENT' | translate }} {{progress_bar_advance}} {{ 'OF' | translate }} {{checkProveedor.length}}</span>
                </button>
                <button ng-show="result" type="button" class="btn btn-default" ng-click="cancelarResultados()">{{ 'CERRARWINDOW' | translate }}</button>
                <div ng-show="layout && !loading" class="col-sm-12" style="padding:10px 0 0 0;">
                    <div style="float:left;margin-right:5px">
                        <span ng-disabled="loading" style="font-size:14px">{{ 'SENDEMAIL' | translate }}</span>
                    </div>
                    <div style="float:left">
                        <div class="round">
                            <input type="checkbox" ng-disabled="loading" ng-model="sendEmail" checked="{{sendEmail}}" id="chk_SendEmail" title="Enviar Correos" style="width: 30px;height: 30px;" />
                            <label for="chk_SendEmail"><i ng-disabled="loading" style="margin-left:5vh" class="fa fa-envelope"></i></label>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </span>
        </h2>
        <small>{{ 'MESSAGEINFO' | translate }}</small>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-show="result" style="padding: 20px 10px 0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total proveedores: {{ progress_bar_advance }}</samll>
                        </div>
                        <h3>Resultados de carga</h3>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-adjust"></i>
                                </div>
                                <a class="forum-item-title" ng-click="result=false">Elementos Enviados</a>
                                <div class="forum-sub-title">
                                    <p ng-show="resultsLayout.status">Layout de servicios almacenado.</p>
                                    <p class="text-danger" ng-hide="resultsLayout.status">Ocurrieron los siguientes errores al almacenar el layout:</p>
                                    <ul class="list-group" ng-hide="resultsLayout.status" style="overflow-y:auto;max-height:35vh" >
                                        <li style="height: 10vh;" ng-repeat="o in resultsLayout.Mensajes" class="list-group-item">{{o}}</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInDown"><!--ng-hide="result"-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'LAYOUT' | translate }}</h5>
                    <div class="pull-right" ng-show="layout">{{totalRegistros}} {{ 'ELEMENTS' | translate }}</div>
                </div>
                <div class="ibox-content" ng-class="{'sk-loading': loading, '': !loading}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div ng-show="layout && !conerror" class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ 'MSJ_RES_CARGA' | translate }}
                    </div>

                    <div id="id_conerror" ng-show="conerror" class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>{{ 'UPLOAD_COMPLETE' | translate }}</strong> <br />{{ 'UPLOAD_COMPLETE_DESC' | translate }}
                    </div>

                    <div id="id_archivoNoPermitido" ng-show="archivoNoPermitido " class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>{{ 'NOT_ALLOWED_FILE' | translate }}</strong> <br />{{ 'NOT_ALLOWED_FILE_DESC' | translate }}
                    </div>

                    <div id="id_contenidoNoValido" ng-show="contenidoNoValido" class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>{{ 'INVALID_COLUMNS' | translate }}</strong> <br />
                        {{ 'INVALID_COLUMNS_DESC1' | translate }}
                    </div>

                    <div id="id_archivoVacio" ng-show="archivoVacio" class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>{{ 'EMPTY_FILE' | translate }}</strong> <br />{{ 'EMPTY_FILE_DESC' | translate }}
                    </div>

                    <div id="id_errorEncabezados" ng-show="errorEncabezados" class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>{{ 'HEADER_ERRORS' | translate }}</strong> <br />{{ 'HEADER_ERRORS_DESC' | translate }}
                    </div>

                    <div ng-hide="layout">
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ 'MSJ_INF_CARGA_1' | translate }}
                        </div>

                        <p id="text_cargar" ng-click="clickCarga()" class="text_cargar text-center">
                            <i class="fa fa-file-excel-o fa-3x" style="margin-bottom:10px;"></i><br />
                            {{ 'BTN_UPLOAD' | translate }}
                        </p>

                        <input name="xlfile" id="xlf" uploadxls type="file" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
                    </div>

                    <div ng-show="layout">
                        <div class="row" style="margin-left: 60px !important; margin-top: 7px;">
                            <div class="col-lg-1" style="margin-bottom: 7px;">
                                <div class="round">
                                    <input type="checkbox" id="chk_todos" ng-click="toggleAll(isAllSelected)" ng-model="isAllSelected" ng-checked="isAllSelected" title="{{ SELECT_ALL | translate }}" style="width: 30px;height: 30px;" />
                                    <label for="chk_todos"></label>
                                </div>
                            </div>
                            <div class="col-lg-11" style="margin-top: 7px">
                                <span><b>{{ 'SELECT_ALL' | translate }}</b></span>
                            </div>
                        </div>

                        <div class="accordion" id="accordionExample">
                            <div class="card" ng-repeat="p in proveedores track by $index">
                                <div class="card-header" id="headingOne">
                                    <div class="row" style="margin-left: 60px !important; margin-top: 7px;">
                                        <div class="col-lg-1" style="margin-bottom: 7px;">
                                            <div class="round">
                                                <input type="checkbox" id="chk_{{p.PRO_CODIGO}}" ng-model="p.selected" ng-click="checkedProveedores(p)" ng-change="optionToggled()" ng-checked="isCheckedProveedores(p)" role="button" style="width: 30px;height: 30px;" />
                                                <label for="chk_{{p.PRO_CODIGO}}"></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-11">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" ng-click="toggleServices(p.PRO_CODIGO)" type="button" data-toggle="collapse" data-target="#{{p.PRO_CODIGO}}" aria-expanded="true" aria-controls="collapseOne">
                                                    <b>{{p.PRO_CODIGO}} - {{p.PRO_NOMBRE}}:</b> Total Importe: ${{p.TOTAL_IMPORTE}}
                                                </button>
                                            </h2>
                                        </div>
                                    </div>
                                </div>

                                <div id="{{p.PRO_CODIGO}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="table-responsive" style="height:500px; position: relative;">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <!--<th ng-repeat="x in keys">{{x.key}}</th>-->
                                                        <th>ARCHIVO_DE_ORIGEN_DE_TRANSACCI</th>
                                                        <th>ESTADO_DE_COINCIDENCIA</th>
                                                        <th>COINCIDENCIA_EN</th>
                                                        <th>ING_FECHA</th>
                                                        <th>PRO_CODIGO</th>
                                                        <th>PRO_NOMBRE</th>
                                                        <th>CI_CODIGO</th>
                                                        <th>CRI_DESCRIPCION</th>
                                                        <th>FOLTDA_CODIGO</th>
                                                        <th>FOLIOCC</th>
                                                        <th>ING_SINCONTRIBUCION</th>
                                                        <th>ING_IMPORTE</th>
                                                        <th>ING_CARGO</th>
                                                        <th>ING_CONTRIBUCION</th>
                                                        <th>ING_REFERENCIA</th>
                                                        <th>DIS_CONTABLE</th>
                                                        <th>CENTROCOSTO</th>
                                                        <th>REGIONCONTABLE</th>
                                                        <th>ZONACONTABLE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="o in servicios | filter:{ PRO_CODIGO: p.PRO_CODIGO }:true">
                                                        <td>{{o.ARCHIVO_DE_ORIGEN_DE_TRANSACCI}}</td>
                                                        <td>{{o.ESTADO_DE_COINCIDENCIA}}</td>
                                                        <td>{{o.COINCIDENCIA_EN}}</td>
                                                        <td>{{o.ING_FECHA}}</td>
                                                        <td>{{o.PRO_CODIGO}}</td>
                                                        <td>{{o.PRO_NOMBRE}}</td>
                                                        <td>{{o.CI_CODIGO}}</td>
                                                        <td>{{o.CRI_DESCRIPCION}}</td>
                                                        <td>{{o.FOLTDA_CODIGO}}</td>
                                                        <td>{{o.FOLIOCC}}</td>
                                                        <td>{{o.ING_SINCONTRIBUCION}}</td>
                                                        <td>{{o.ING_IMPORTE}}</td>
                                                        <td>{{o.ING_CARGO}}</td>
                                                        <td>{{o.ING_CONTRIBUCION}}</td>
                                                        <td>{{o.ING_REFERENCIA}}</td>
                                                        <td>{{o.DIS_CONTABLE}}</td>
                                                        <td>{{o.CENTROCOSTO}}</td>
                                                        <td>{{o.REGIONCONTABLE}}</td>
                                                        <td>{{o.ZONACONTABLE}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


