﻿<!--
*
* LG
* Version 1.0
*
-->

<!DOCTYPE html>
<html ng-app="inspinia">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="./favicon.png">


    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">
    <link href="css/lg.css" rel="stylesheet">

    <script src="js/xlsx/xlsx.full.min.js"></script>
    <script src="js/xlsx/xlsx.extendscript.js"></script>
</head>

<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">
    <!-- Main view  -->
    <div ui-view></div>
    <!-- jQuery and Bootstrap -->
    <script src="js/jquery/jquery-3.1.1.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- MetsiMenu -->
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- SlimScroll -->
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Peace JS -->
    <script src="js/plugins/pace/pace.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <!-- WebCameraJS-->
    <script src="js/plugins/webcamjs/webcam.min.js"></script>

    <!-- Main Angular scripts-->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="js/angular-translate/angular-translate.min.js"></script>
    <script src="js/ui-router/angular-ui-router.min.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="js/plugins/angular-idle/angular-idle.js"></script>
    <script src="js/angular/angular-cookies.min.js"></script>
    <script src="js/plugins/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="js/plugins/angular-file-upload/console-sham.min.js"></script>

    <!-- Anglar App Script -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/translations.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/factorys.js"></script>
</body>
</html>
